$color-primary: #2271b1;
$color-tertiary: #0b0713;

$color-dark: #0e0e0e;
$color-white: #ffffff;
$color-lite: #9d9d9d;

$color-none: #ffffff00;

// bs colors
$primary: $color-primary;
$dark: $color-dark;
