$color-primary: #07769b;
$color-secondary: #1680a3;
$color-tertiary: #225667;

$color-dark: #000000;
$color-white: #ffffff;


:root {
    --color-primary: #07769b;
    --color-secondary: #1680a3;
    --color-tertiary: #225667;
    --color-dark: #000000;
    --color-white: #ffffff;
}
