@import './_colors';

.scroll-bar {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
        background-color: $color-white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-lite;
    }
}

.line-item {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: rgba($color-dark, 1);
}