@import '../../assets/scss/_colors';

.baner {
    height: 75vh;
    background: linear-gradient(180deg, $color-dark 65%, $color-white 35%);
    position: relative;

    & .swiper {
        &::before {
            content: "";
            background-color: $color-white;
            display: block;
            position: absolute;
            width: 2rem;
            height: 1px;
            top: 90%;
            left: 12.5%;
            z-index: 2;
        }
    }

    & .swiper-slide {
        & .baner__slide {
            width: 100%;
            height: 600px;
            position: relative;
            cursor: grab;

            &::before {
                content: "";
                background-color: $color-white;
                display: block;
                position: absolute;
                width: 0rem;
                height: 1px;
                top: 40%;
                left: 10%;
                z-index: 2;
                opacity: 0;
                transition: width 0.2s 0.3s ease-in-out, opacity 0.2s 0.3s ease-in-out;
            }

            &--image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &--caption {
                position: absolute;
                left: 10%;
                top: 50%;
                opacity: 0;
                transition: top 0.4s 0.2s ease-in-out, opacity 0.3s 0.2s ease-in-out;
                font-size: 4rem;
            }

        }
    }

    & .swiper-slide-active {
        & .baner__slide {
            &::before {
                width: 4rem;
                opacity: 1;
            }

            &--caption {
                top: 45%;
                opacity: 1;
            }
        }
    }

    &::before {
        content: "";
        background-color: rgba($color-dark, 0.05);
        display: block;
        position: absolute;
        width: 700px;
        height: 700px;
        border-radius: 50%;
        bottom: -20%;
        left: -10%;
    }
    
}

.card-service {
    height: 500px;
    display: flex;
    background-color: rebeccapurple;
    position: relative;
    overflow: hidden;
    & img {
        filter: brightness(0.8);
        transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0%;
        left: 10%;
        color: $color-white;
        transition: bottom 0.3s ease-in-out;
        margin: 0;
    }

    &__icon {
        font-size: 3.5rem;
    }

    &__caption {
        max-width: 80%;
        font-size: 1.5rem;
    }

    &__more {
        font-size: 1.25rem;
        opacity: 0;
        transition: opacity 0.3s 0.1s ease-in-out;
    }

    &:hover {
        & img {
            transform: scale(1.05);
        }
        & .card-service__info {
            bottom: 10%;
        }
        & .card-service__more {
            opacity: 1;
        }
    }
}