html, body {
    margin: 0;
    padding: 0;
    min-height: 1000vh;
    width: 100vw;
    overflow-x: hidden;
    
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

#root {
    display: flex;
    min-height: 100vh;
}

a {
    text-decoration: none !important;
}

ul, ol {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none;
}