@import '../../assets/scss/_colors';

.nav {
    display: flex;
    align-items: center;

    &__list,
    &__list--social {
        display: flex;

        &:hover {
            & .nav__item--link {
                color: $color-lite;
            }
        }
    }

    &__item {
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--link {
            color: $color-white;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-white !important;
            }

            &.active {
                color: $color-white !important;
                text-decoration: line-through !important;
            }
        }
    }
}